{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "airbnb",
  "rules": {
    "no-console": "warn"
  },
  "plugins": [
    "html",
    "import",
    "jsx-a11y"
    "mocha",
    "react"
  ]
}

