{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "airbnb",
  "rules": {
    "no-console": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "arrow-body-style": [0],
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "double"],
    "no-unused-vars": ["error", { "varsIgnorePattern": "style" }]
  },
  "plugins": [
    "html",
    "mocha",
    "import",
    "react"
  ]
}
